.login-page-container {
    height: 100vh;
    background-color: #041230;
}

.login-card{
    display: grid;
    justify-items: center;
}

.login-card > div{
    display: grid;
    justify-items: center;
    font-size: 1.5em;
}

.login-card p:first-child{
    margin-top: 1em;
    font-weight: bold;
}

